{% style %}

/* ATC */

.btn--add-to-cart {
  animation: {{ section.settings.cta-animation }} 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
  
@keyframes bouncer { 
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
  
@keyframes scaler { 
  0% { transform: scale(1); }
  100% { transform: scale(1.03); }
}
  
@keyframes rotater { 
  0% { transform: rotate(-2deg); }
  100% { transform: rotate(2deg); }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

{% endstyle %}

{% schema %}

{
 "type": "select",
 "id": "cta-animation",
 "options": [
    { "value": "bouncer", "label": "Sauté"},
    { "value": "scaler", "label": "Zoomé"},
    { "value": "rotater", "label": "Décalé"},
    { "value": "shake", "label": "Shake"},
    { "value": "none", "label": "Aucune"}
 ],
 "label": "Animation du CTA",
 "default": "rotater"
}

{% endschema %}
